# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [1]:
# import data
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance = pd.read_csv(url)

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [5]:
insurance.head() #ÂÖàÁî®.head()Áúã‰∏Ä‰∏ãÂ§ßÊ¶Ç DFÈïø‰ªÄ‰πàÊ†∑Â≠ê„ÄÇ

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [6]:
#üîπdf.columnsÊòØPandas‰∏≠ DataFrame ÂØπË±°ÁöÑ‰∏Ä‰∏™Â±ûÊÄßÔºåÂÆÉËøîÂõû‰∏Ä‰∏™ Index ÂØπË±°ÔºåËØ•ÂØπË±°ÂåÖÂê´‰∫Ü DataFrame ‰∏≠ÊâÄÊúâÁöÑÂàóÂêç„ÄÇ

In [10]:
insurance.info() #ÂÜçÁî®.info()Áúã‰∏ãdtypeÊòØ‰∏çÊòØÂêàÁêÜ„ÄÇ‰πüÂèØ‰ª•ÊúÄÂêéÂÜçÊï¥ÁêÜÔºü

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [12]:
insurance.columns = insurance.columns.str.replace(" ","_").str.lower() 
#‚ùóinsurance.columns ËøîÂõûÁöÑÊòØ‰∏Ä‰∏™ Pandas Index ÂØπË±°ÔºåËÄå‰∏çÊòØÂ≠óÁ¨¶‰∏≤„ÄÇIndex ÂØπË±°Ê≤°Êúâ replace() ÊñπÊ≥ïÔºåÊâÄ‰ª•ÁúÅÂéª.str‰ºöÊä•Èîô„ÄÇÂì™ÊÄïËøô‰∫õcolumnÁúãËµ∑Êù•Â∑≤ÁªèÊòØstring‰∫Ü„ÄÇ
#‚ùóÁõ¥Êé•‰øÆÊîπ df.columnsÔºöPandasÂÖÅËÆ∏Áõ¥Êé•‰øÆÊîπcolumnsÂ±ûÊÄßÔºåÂõ†‰∏∫columnsÊòØ‰∏Ä‰∏™ÂºïÁî®ÔºàIndex ÂØπË±°Ôºâ,‰øÆÊîπÂÆÉÂÆûÈôÖ‰∏äÊòØÊõøÊç¢‰∫Ü DataFrame ÁöÑÂàóÂêç„ÄÇÊâÄ‰ª•ËøôÁßçÊñπÂºèÂèØ‰ª•Áõ¥Êé•ËøõË°å‰øÆÊîπ„ÄÇ
#‚ùórename() ÊñπÊ≥ïÔºörename() ÊñπÊ≥ïÁöÑËÆæËÆ°ÊòØËøîÂõû‰∏Ä‰∏™Êñ∞ÁöÑ DataFrameÔºå‰∏çÂú®Âéü DataFrame ‰∏äËøõË°å‰øÆÊîπ„ÄÇËøôÊ†∑ÂÅöÁöÑÁõÆÁöÑÊòØËÆ©‰Ω†ËÉΩÂ§üÂú®‰∏ç‰øÆÊîπÂéü DataFrame ÁöÑÊÉÖÂÜµ‰∏ãÂàõÂª∫‰∏Ä‰∏™Êñ∞ÁöÑ DataFrame„ÄÇ
#üîπÂ¶ÇÊûú‰Ω†Â∏åÊúõÂú®ÂéüÂú∞‰øÆÊîπ DataFrameÔºåÂèØ‰ª•‰ΩøÁî® inplace=True ÂèÇÊï∞„ÄÇ
insurance = insurance.rename(columns = {"st" :"state"}) #ÊàñËÄÖÁî® inplace =True
insurance.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [16]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, 
# for example, to "M" and "F".
insurance.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [18]:
# Gender column: use lamda to categorise the values.
insurance["gender"] = insurance["gender"].apply(lambda x: 'F' if  isinstance(x, str) and x.lower().startswith('f') 
                                                else ( 'M' if isinstance(x, str) and x.lower().startswith('m') 
                                                      else x))
insurance.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [20]:
# State Column:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
insurance.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [22]:
# # State Column: use .replace() Êù•Áªü‰∏ÄÂàó‰∏≠ÁöÑvalue ËøôÊòØÂîØ‰∏ÄÁöÑÊñπÊ≥ïÂêóÔºü
state_mapping = {"AZ":"Arizona","Cali":"California","WA":"Washington"} #create a new dictionary to save state mapping.
insurance["state"] = insurance["state"].replace(state_mapping)
insurance.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [24]:
# In education, "Bachelors" could be replaced by "Bachelor"
insurance.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [26]:
insurance["education"] = insurance["education"].replace("Bachelors" ,"Bachelor")
insurance.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [28]:
#In Customer Lifetime Value, delete the % character
insurance["customer_lifetime_value"] = insurance["customer_lifetime_value"].str.replace("%","")
insurance["customer_lifetime_value"]

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [30]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
insurance.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [32]:
vehicle_class_map = {"Luxury SUV":"Luxury", "Sports Car":"Luxury","SUV" :"Luxury","Luxury Car": "Luxury"}
insurance["vehicle_class"] = insurance["vehicle_class"].replace(vehicle_class_map)
insurance.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'Luxury', nan], dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [38]:
insurance.info() # get an overview of the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [40]:
# Customer lifetime value should be numeric
insurance["customer_lifetime_value"].astype(float).round(2)

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

In [42]:
# Number of open complaints:
# Number of open complaints has an incorrect format. Look at the different values it takes with unique()
insurance["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [44]:
# it should and take the middle value. As an example, 1/5/00 should be 5.
# Number of open complaints column: should be a string.
insurance["number_of_open_complaints"] = insurance["number_of_open_complaints"].astype(str).str.split("/").str[1]
insurance["number_of_open_complaints"]

0         0
1         0
2         0
3         0
4         0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number_of_open_complaints, Length: 4008, dtype: object

In [46]:
insurance["number_of_open_complaints"].astype(float).astype("Int64")
#Since Pandas int type cannot store NaN, you can use Int64 (nullable integer type):

0          0
1          0
2          0
3          0
4          0
        ...
4003    <NA>
4004    <NA>
4005    <NA>
4006    <NA>
4007    <NA>
Name: number_of_open_complaints, Length: 4008, dtype: Int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [50]:
# if all the columns in the rows are NaN, drop them. Â¶ÇÊûúÊüêÂàó‰∏ãÈù¢ÁöÑÂÄºÈÉΩÊòØNaNÔºådropËøô‰∫õË°å„ÄÇ
insurance = insurance.dropna(how = 'all')

In [52]:
insurance.isnull().sum()

customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [54]:
insurance.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [56]:
#‚ùìWhen Would Data Types Change?

# Data types might change if:

#üîπAll non-NaN values in a column are removed ‚Üí Pandas may default the column to float64 or object.
#üîπPandas automatically upcasts integer columns with NaN to float64.

In [58]:
# Gender column: fill NaN with a string.
insurance["gender"]= insurance["gender"].fillna("No Entry") 
insurance.gender.unique()

array(['No Entry', 'F', 'M'], dtype=object)

In [60]:
# customer_lifetime_value column: 
insurance["customer_lifetime_value"].astype(float)

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
1066     305955.03
1067    2031499.76
1068     323912.47
1069     462680.11
1070     899704.02
Name: customer_lifetime_value, Length: 1071, dtype: float64

In [62]:
insurance.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [64]:
insurance["customer_lifetime_value"] = pd.to_numeric(insurance["customer_lifetime_value"], errors="coerce")
# this I didnt understand why after changing the ["customer_lifetime_value"] data type in the previous steps it still went back to object...
insurance["customer_lifetime_value"]= insurance["customer_lifetime_value"].fillna(insurance["customer_lifetime_value"].mean()).round(2)
insurance["customer_lifetime_value"]

0        793690.26
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
1066     305955.03
1067    2031499.76
1068     323912.47
1069     462680.11
1070     899704.02
Name: customer_lifetime_value, Length: 1071, dtype: float64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [68]:
insurance.duplicated().sum()

0

In [74]:
insurance.drop_duplicates()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,No Entry,Master,793690.26,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,Luxury,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2,Personal Auto,Luxury,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0,Special Auto,Luxury,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [78]:
def data_cleaning(insurance):
    #column name standardization: all small letters etc.
    insurance.columns = insurance.columns.str.replace(" ","_").str.lower() 
    insurance = insurance.rename(columns = {"st" :"state"})
    
    # gender column: use lamda to categorise the values.
    insurance["gender"] = insurance["gender"].apply(lambda x: 'F' if  isinstance(x, str) and x.lower().startswith('f') 
                                                else ( 'M' if isinstance(x, str) and x.lower().startswith('m') 
                                                      else x))
    # state column:create a new dictionary to save state mapping.
    state_mapping = {"AZ":"Arizona","Cali":"California","WA":"Washington"} 
    insurance["state"] = insurance["state"].replace(state_mapping)
    
    # education column:
    insurance["education"] = insurance["education"].replace("Bachelors" ,"Bachelor")
    insurance["customer_lifetime_value"] = insurance["customer_lifetime_value"].str.replace("%","")
    
    # vehicle_class_map column:
    vehicle_class_map = {"Luxury SUV":"Luxury", "Sports Car":"Luxury","SUV" :"Luxury","Luxury Car": "Luxury"}
    insurance["vehicle_class"] = insurance["vehicle_class"].replace(vehicle_class_map)
    
    # dtaype correction:
    insurance["customer_lifetime_value"].astype(float).round(2)
    
    insurance["number_of_open_complaints"] = insurance["number_of_open_complaints"].astype(str).str.split("/").str[1]
    insurance["number_of_open_complaints"].astype(float).astype("Int64")

    # NaN cleaning:
    insurance = insurance.dropna(how = 'all')
    insurance["gender"]= insurance["gender"].fillna("No Entry") 
    insurance["customer_lifetime_value"].astype(float)
    insurance["customer_lifetime_value"] = pd.to_numeric(insurance["customer_lifetime_value"], errors="coerce")
    insurance["customer_lifetime_value"]= insurance["customer_lifetime_value"].fillna(insurance["customer_lifetime_value"].mean()).round(2)
    
    # duplicates cleaning:
    insurance.drop_duplicates()

insurance

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,No Entry,Master,793690.26,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,Luxury,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2,Personal Auto,Luxury,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0,Special Auto,Luxury,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here